# Credentials and tokens
credentials*.json
token*.json
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/

# Logs
*.log
fastapi-mainscraper/email_results_souvikjana1993@gmail.com_Coin by Zerodha.json
